.hero {
    display: flex;

    .information {
        max-width: 50%;

        .title {
            color: #532953;
            font-weight: 700;
            margin-bottom: 18px;
            max-width: 54%;
        }

        .text {
            color: #aea4ae;
            line-height: 20px;
            font-weight: 500;
            max-width: 74%;
        }
    }

    .list {
        align-items: center;
        background-color: rgb(247, 242, 248);
        border-radius: 5px;
        color: rgb(112, 83, 111);
        font-size: 12px;
        font-weight: 700;
        height: 36px;
        margin-bottom: 10px;
        width: 104%;
        padding-top: 8px;
        text-align: center;
    }

    .list:nth-child(2) {
        margin-left: 56px;
    }
    .list:nth-child(3) {
        margin-left: 84px;
    }
}

@media (max-width: 978px) {
    .hero {
        flex-direction: column;

        .information {
            max-width: 100%;

            .title {
                max-width: 100%;
            }

            .text {
                max-width: 100%;
                margin-bottom: 20px;
            }
        }

        .list {
            max-width: 100%;
        }
        .list:nth-child(2) {
            margin-left: 0;
        }
        .list:nth-child(3) {
            margin-left: 0;
        }
    }
}
